

<div class="flex flex-col gap-2">
  <div class="card bg-base-100 w-96 shadow-xl">
    <div class="card-body">
    @for (opt of $colorOptions(); track opt.value) {
      <label class="flex flex-row gap-3 items-center">
        <input class="checkbox" type="checkbox" [checked]="opt.selected" (change)="$colorOptions.toggle(opt.value)" 
          [style.backgroundColor]="opt.value.value" /> 
        {{ opt.value.color }} 
      </label>
    }
    <select multiple [(ngModel)]="$colorOptions.$selections">
      @for (opt of $colorOptions(); track opt.value) {
        <option class="flex flex-row gap-3 items-center" [value]="opt.value">
          {{ opt.value.color }} 
        </option>
      }
    </select>
  </div>
  </div>
  <div class="flex flex-row gap-3 py-2">
    <button class="btn btn-primary btn-sm" (click)="randomizeColorSet()">Randomize Options</button>
    <button class="btn btn-primary btn-sm" (click)="$colorOptions.setAll(true)">Select All</button>
    <button class="btn btn-primary btn-sm" (click)="$colorOptions.setAll(false)">Clear Selections</button>
  </div>
</div>
